.btnBox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	width: 100%;
}

.okBtn {
	width: 6rem;
	height: 3rem;
	color: white;
	background-color: #fe531d;
	cursor: pointer;
}
