.header {
	margin: 2rem 1.5rem 5rem;
	display: flex;
	color: #fff;
}

.iconBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
}

.iconBoxFull {
	background-color: #fff;
}

.circle {
	position: absolute;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.emoji {
	font-size: 2rem;
}

.titleBox {
	max-height: 5rem;
}

.title {
	font-size: 2.7rem;
	font-weight: normal;
}

.counter {
	font-size: 1.3rem;
	opacity: 0.6;
}
