.tilesBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.addCategoryBtn {
    margin: 0.5rem;
    width: 140px;
	height: 140px;
    font-size: 3rem;
    color: white;
    background-color: #fe531d;
    border: none;
}