.btnBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;
	width: 100%;
}

.erroBox {
	margin: 2rem auto;
	padding: 1rem;
	width: 90%;
	max-width: 26rem;
	text-align: center;
	background-color: black;
}

.errorMsgText {
	font-size: 1.5rem;
	font-weight: bold;
	color: red;
}

.submitBtn {
    display: block;
    margin: 0 auto;
	height: 4rem;
	width: 90%;
    max-width: 26rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: #fe531d;
	background-color: #fff;
	border: none;
	cursor: pointer;
}

