.tilesBox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.addTaskLink {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
	width: 14rem;
	height: 14rem;
	font-size: 3rem;
	color: white;
	background-color: #fe531d;
	box-shadow: 2px 2px 5px gray;
	border: none;
	cursor: pointer;
}
