.greetingsTitle {
	margin-bottom: 0;
	font-size: 2.5rem;
}

.greetingsBox {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 2rem;
}

.greetingsText {
	margin: 1rem .3rem;
	font-size: 1.3rem;
	color: #888;
}

.countHighlight {
	color: blue;
}

.iconBox {
	display: flex;
	justify-content: center;
}

.iconButton {
	margin: 0;
	padding: 0 .3rem;
	background: none;
	border: none;
	cursor: pointer;
}

.squareBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.tilesIcon {
	height: 90%;
	width: 90%;
}

.icon {
	height: 2.1rem;
	width: 2.1rem;
	opacity: 0.3;
	overflow: hidden;
	transition: opacity .3s;
}

.iconActive {
	opacity: 1;
}
