.background {
    position: relative;
    min-height: 100vh;
}

.IconBox {
    display: flex;
    justify-content: space-between;
}

.trashBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.trashIcon {
    padding: 2rem;
    font-size: 6rem;
    color: white;
}

.itemBox {
    margin-top: 3rem;
}
