.authBox {
	width: 100%;
	border: 1px solid black;
}

.authTitle {
	margin: 3rem 0 0;
	font-size: 2.6rem;
	text-align: center;
}

.form {
	margin: 0 auto;
	width: 80%;
}

.label {
	display: block;
	margin: 2rem 0 1.5rem;
	font-size: 1.8rem;
}

.labelInfo {
	font-size: 1.3rem;
	opacity: .7;
}

.input {
	display: block;
	/* margin: 0 auto; */
	width: 100%;
	padding: 1rem;
	font-size: 1.6rem;
}

.inputError {
	background-color: rgba(255, 0, 0, 0.3);
	border: 2px solid red;
}

.info {
	margin: 2rem 0;
	font-size: 1.6rem;
}

.formError {
	margin-top: 0.8rem;
	text-align: center;
	font-size: 1.4rem;
	color: red;
}

.actionBtn {
	display: block;
	margin: 4rem auto 2rem;
	padding: 1.3rem;
	width: 100%;
	max-width: 24rem;
	font-size: 2rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #fe531d;
	border: none;
	cursor: pointer;
}

.actionBtn:disabled {
	background-color: gray;
}

.changeAuthBtn {
	display: block;
    margin: 0 auto 2rem;
	font-size: 1.4rem;
	text-align: center;
	text-decoration: underline;
	background: none;
	border: none;
	cursor: pointer;
}